*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body,
html{
    width: 100%;
    height: 100%;
}

:root{
    --pri:#2a1610;
    --sec:#ad826c;
    --tri1:#c3980d;
    --tri2:#FCDEC0;
    --work1:green;
    --work2:red;
    --work3:blue;
    --white1:white;
    --black1:black;
    --bg:rgba(148, 108, 63, 0.783);
}

#main{
    min-height: 100vh;
    width: 100%;
    background-color: var(--pri);
    padding: 10px 0px;
}

section.allelems{
    min-height: 100vh;
    width: 100%;
    padding: 40px;
    padding-top: 30px;
    color: var(--tri2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: var(--pri);
      position:absolute;
     
}
.allelems header{
    width: 100%;
   /* background-image: url("https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
    margin-bottom: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    background-size: cover;      /* 🔥 image ko properly fill karega */
    background-position: center; /* center me rakhega */
    background-repeat: no-repeat;
}

header .header1 h1{
    font-size: 100px;
    color: var(--white1);
    font-weight: 700;
    margin-bottom: 40px;
}
header .header1 h2{
    font-size: 50px;
    color: var(--white1);
    font-weight: 300;
}

header .header1 h3{
    font-size: 50px;
    color: var(--white1);
     font-weight: 400;
}

header .header2 h2{
    font-size: 50px;
    color: var(--white1);
     font-weight: 500;
}

header .header2 h4{
    font-size: 40px;
    color: var(--white1);
     font-weight: 500;
}
header .header2 h3{
    font-size: 20px;
    color:var(--white1);
     font-weight: 400;
     opacity: 0.8;
}

.allelems .allFeatures{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px;
    flex-wrap: wrap;
}

.elem{
    background-color: var(--tri1);
    height: 350px;
    width: 255px;
    border-radius: 10px;
    position: relative;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
  
}

.elem:active{
    scale: 0.95;
}

.elem:hover{
    color: var(--white1);
    transform: translatey(-1rem);
}



.elem h2{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 30px;
    font-weight: 400;
}

.elem img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
}

.full-elem {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--pri);
    color: var(--tri2);
    padding: 40px;
    z-index: 10; /* sits on top of everything */
}

.full-elem .back{
    position: absolute;
    top: 8%;
    right: 5%;
    background-color: var(--work2);
    color: var(--white1);
    padding: 10px 11px;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
}

.back:active{
    scale: 0.985;
}

.todo-list-fullpage{
    display: none;
    flex-direction: column;
}
.todo-list-fullpage h2{
    font-size: 70px;
}


.todo-list-fullpage .todo-container{
    width: 100%;
    height: 80%;
    background-color: var(--pri);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.todo-list-fullpage .todo-container .add-task{
    height: 100%;
    flex: 1;
    background-color: var(--sec);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 30px;
    margin-top: 30px;

}
.todo-list-fullpage .todo-container .add-task input{
    width: 100%;
    padding: 15px 20px;
    border: 0;
    outline: 0;
    margin-bottom: 10px;
    background-color: var(--pri);
    color: var(--tri2);
    font-weight: 700;
    font-size: 25px;
    border-radius: 12px;
    margin-bottom: 2rem;
}

.todo-list-fullpage .todo-container .add-task textarea{
    width: 100%;
    height: 80%;
    padding: 15px 20px;
    border: 0;
    outline: 0;
    background-color: var(--tri2);
    color: var(--work2);
    font-weight: 700;
    font-size: 15px;
     border-radius: 10px;
     margin-bottom: 1rem;
}

.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    width: 100%;
    color: var(--tri2);
    gap: 20px;
}
.mark-imp input{
    margin-top: 20px;
}


.todo-list-fullpage .todo-container .add-task button{
    width: 100%;
    padding: 15px 20px;
    border: 0;
    outline: 0;
    background-color: var(--tri1);
    color: var(--white1);
    font-weight: 700;
    font-size: 25px;
     transition: all 0.2s ease-in-out;
}

.todo-container .add-task button:active{
    scale: 0.95;
}

.todo-list-fullpage .todo-container .all-task{
   /* width: 65%;*/
    flex: 2;
    height:100%;
    background-color: var(--sec);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 15px;
    margin-top: 30px;
}

.tasks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--tri2);
    padding: 10px 20px;
    border-radius: 10px;
}

.tasks h5{
    color: var(--pri);
    font-size: 30px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.tasks h5 span{
    background-color: var(--work2);
    color:var(--tri2);
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    
}

.tasks h5 span.true{
    opacity: 1;
}

.tasks h5 span.false{
    opacity: 0;
}

.tasks button{
    padding: 10px 15px;
    background-color: var(--work1);
    color: var(--tri2);
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

.tasks button:active{
    scale: 0.95;
}



.mark-imp #check{
    width: 30px;
    height: 20px;
}

.mark-imp label{
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--white1);
}


/*todo list designing part is completed upto here..........*/


/*daily planner page designing begins......*/

.daily-planner-fullpage{
    display: none;
    flex-direction: column;
}

.daily-planner-fullpage h2{
    font-size: 70px;
}

.daily-planner-fullpage .day-planner{
    background-color:var(--bg);
    height: 80%;
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time{
    display: flex;
    align-items: flex-start;
    position: relative;
     margin-bottom: 10px;
     width: 48%;
     
}

.day-planner .day-planner-time p{
    position: absolute;
    top: 5%;
    left: 1%;
    font-size: 20px;
}

.day-planner .day-planner-time input{
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    background-color:var(--pri);
    font-size: 18px;
    padding: 10px 15px;
    padding-top: 35px;
    color: var(--tri2);
    border-radius: 10px;
}

/*daily planner designing ends*/

/*motivation page designing begins*/

.motivation-full-page{
    display:none;
}

.motivation-full-page-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.motivation-full-page .motivation-container{
   min-height: 500px;
    width: 80%;
    background-color: var(--tri1);
    border-radius: 40px;
    position: relative;
}

.motivation-full-page .motivation-container::after{
    content: "";
    height:100%;
    width: 100%;
    position: absolute;
    background-color: var(--tri2);
    border-radius: 50px;
    scale: 1.1;
    filter: blur(80px);
}

.motivation-full-page .motivation-container .motivation-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:var(--pri);
    z-index: 10;
    border-radius: 40px;
    padding: 20px 70px;
    border: 5px solid var(--tri2);
    overflow:auto ;
}

.motivation-full-page .motivation-container .motivation-wrapper .img1{
    position: absolute;
    left: 90%;
    top: 5%;
}


.motivation-full-page .motivation-container .motivation-wrapper .img2{
    position: absolute;
    top: 85%;
    left: 2%;
}

.motivation-container .motivation-wrapper .motivation1{
    background:var(--tri1);
    border-radius: 20px;
    padding: 10px 30px;
    width: fit-content;
}
.motivation-container .motivation-wrapper .motivation1 h1{
    font-size: 40px;
    text-align: center;
}

.motivation-container .motivation-wrapper .motivation2{
    margin-top: 20px;
    padding: 10px;
}

.motivation-container .motivation-wrapper .motivation2 h2{
    font-size: 50px;
    font-weight: 400;
    margin-left: 50px;
    overflow-wrap: break-word;
    word-break: break-word;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.motivation-container .motivation-wrapper .motivation3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3rem;
    margin-bottom: 2rem;
    position: relative;
}
.motivation-container .motivation-wrapper .motivation3 h1{
    background:var(--tri2);
    color: var(--pri);
     border-radius: 10px;
     width: fit-content;
     padding: 10px 40px;
     text-align: right;
     text-decoration:underline;
     font-style: italic;
     position: absolute;
     max-width: 80%;
    
}

/*motivation page designing ends........*/

/*pomodoro timer page designing begins*/

.pomodoro-timer-page{
    display: none;
}
.pomodoro-timer-page h1{
    font-size: 50px;
}

.pomodoro-timer-page .pomo-heading{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    background-color: var(--tri1);
    padding: 20px 20px;
    border-radius: 40px;
    color: var(--white1);
}

.pomodoro-timer-page .pomo-timer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 40px;
    border-radius: 40px;
}

.pomodoro-timer-page .pomo-timer h1{
    font-size: 150px;
    margin-bottom: 10px;
    text-align: center;
}

.pomodoro-timer-page .pomo-timer button{
    padding: 15px 40px;
    letter-spacing: 2px;
    border-radius: 12px;
    margin: 10px;
    box-shadow: 2px 12px 10px black;
    transition: all 0.2s ease;
    font-size: 20px;
    background-color: var(--sec);
    font-weight: 700;
    color: var(--white1);
}

.pomodoro-timer-page .pomo-timer button:active{
    scale: 0.95;
}

nav{
    padding: 0px 40px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.nav-in{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sec);
    padding: 10px 40px;
    border-radius: 20px;
}

.theme{
    background-color: var(--tri2);
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}
nav h2{
    color: var(--white1);
    font-size: 40px;
}

.theme h4{
    font-size: 15px;
    font-weight: 700;
    pointer-events: none;
}

.theme:active{
    scale: 1.1;
}